.ui-float-left{
    float: left;
}
.ui-float-right{
    float: right;
}

.ui-position-relative{
    position: relative;
}
.ui-position-absolute{
    position: absolute;
}
.ui-position-fixed{
    position: fixed;
}
.ui-position-center{
    left: 0;
    right: 0;
}
.ui-position-top-0{
    top: 0;
}

.ui-display-inline-block{
    display: inline-block;
}
.ui-display-block{
    display: block;
}

.ui-color-fff{
    color: #fff !important;
}

.ui-margin-right-20{
    margin-right: 20px;
}

.ui-font-24{
    font-size: 24px;
}

.ui-text-center{
    text-align: center;
}

.clearfix{
    content: '';
    display: block;
    clear: both;
}
